<html lang="en">
<head>
    <title>Profile - {{username}}</title>
    <link rel="icon" href="static/logo.png">
    <style>
        a:hover {cursor: pointer;}
    </style>
</head>
<body>
    Name = {{username}}<br><br>
    <a onclick="logout()">Log Out</a>
    <script>
        function logout(){
            if (confirm("Do you really want to log out, {{username}}?")) {
                window.location.replace('/logout')
            }
        }
    </script>
    <script src="static/common_script.js"></script>
</body>
</html>