<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <h3>What's on your mind?</h3><br>
        <input type="text" name="about"><br><br>
        <h3>Upload a pic</h3><br>
        <input type="file" name="image" accept="image/*"><br><br>
        <input type="submit" value="Post"><br><br>
    </form>
    <div class="message"></div>
    <script>
        div = document.getElementsByClassName('message')[0]
        if ("{{success}}">0){
            div.innerHTML = "Uploaded successfully !!<br><a href=\"/posts\">Click to see all posts</a>"
        }
        else if ("{{success}}"<0){
            div.innerHTML = "Upload failed: Please upload an image !!"
        }
    </script>
    <script src="static/common_script.js"></script>
</body>
</html>